/* Variables
   ========================================================================== */
$color: #fff;
$BackgroundColor : #23272c;
$fontSize : 16px;

/* MISC
   ========================================================================== */
// @import "tools/reset";
@import "tools/reset";
@import "tools/helpers";
@import "tools/variablesResponsive";

/* Generic
   ========================================================================== */
body {
    font-size: $fontSize;
    color: $color;
    background: $BackgroundColor;
    overflow-x: hidden;
}

h1 {
    @include fontSize(50px);
    padding-bottom: 25px;
}

/* Tools
   ========================================================================== */
@import "tools/layout";

/* Modules
   ========================================================================== */
// @import "modules/comments";

/* Pages
   ========================================================================== */
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";
// @import "pages/single";